@import '../global';
@import '~jquery-ui/themes/base/slider';

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.ui-slider-input {
  display: none !important;
}

.ui-slider-popup {
  display: none !important;
}

.sine-canvas {
  width: 120%;
  max-height: 500px;

  @include media-breakpoint-up(md) {
    margin-top: -9.5em;
    margin-bottom: -11.5em;
    margin-left: -175px;
  }

  @include media-breakpoint-down(sm) {
    margin-left: -90px;
  }

  @include media-breakpoint-down(xs) {
    margin-left: -25px;
  }
}

.freq-canvas {
  @include media-breakpoint-up(md) {
    margin-left: -70px;
  }

  @include media-breakpoint-down(sm) {
    margin-left: -75px;
  }
}

.freq-length {
  height: 20px;

  .freq-canvas-bar {
    width: 100%;
    height: 100%;
    background-color: $interactive-color-black;
  }
}

.cochlea-wrapper {
  max-width: 300px;
}

.hide {
  display: none;
}

.cochlea {
  width: 100%;
}

.freq-text {
  margin-bottom: 0;
}

// Overrides
.col-height {
  max-height: 550px;

  @include media-breakpoint-down(sm) {
    max-height: 250px;
    margin-bottom: -2.5em;
  }
}

.slider-range-max .ui-slider-handle {
  @include slider-handle();
}

.slider-range-max .ui-slider-handle:active,
.slider-range-max .ui-slider-handle:focus,
.slider-range-max .ui-slider-handle:hover {
  @include slider-handle();
  @include slider-thumb-hover();
}

.slider-range-max {
  @include slider-track();
}

.ui-slider-range {
  @include slider-range();
}

.sliders {
  z-index: 10;
  width: 100%;

  @include media-breakpoint-down(md) {
    width: 90%;
    padding: 0 12px;
  }
}
